
.slide-container {
    width: 100%;
    margin: auto;
}

.image {
    max-width: 100%;
    height: auto;
}

.slick-dots li button:before {
    height: 16px;
    width: 16px;
    background-color:#000;
    opacity: 0.3;
    border-radius: 50% ;
    display: inline-block;
    margin-left: 12px;
}
.slick-active {
    color: #fff;
}
.slick-dots {
    bottom: 32px;
}
@media only screen and (max-width: 600px) {
    .slick-dots {
        bottom: 8px;
    }
    .slick-dots li button:before {
        height: 10px;
        width: 10px;
    }
}
.slick-arrow{
    display: none!important;
}
